WeixinRoboot/Web References/RobootWeb/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://13828081978.zicp.vip/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://13828081978.zicp.vip/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://13828081978.zicp.vip/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="UserLogIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserLogInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserLogInResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserLogInUsrpar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserLogInUsrparResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserLogInUsrparResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSetting">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="saspnetUserid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSettingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSettingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveSetting">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jaspnet_UsersNewGameResultSend" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveSettingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveSettingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBossUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bossaspnetuserid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBossUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBossUsersResult" type="tns:ArrayOfGuid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGuid">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="guid" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUserToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserTokenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userid" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="NewPassord" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTemplateRatios">
        <s:complexType />
      </s:element>
      <s:element name="GetTemplateRatiosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTemplateRatiosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTemplateBonus">
        <s:complexType />
      </s:element>
      <s:element name="GetTemplateBonusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTemplateBonusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMembers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Members" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="UserKey" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="_GameMode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMembersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetMembersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OpenUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TargetURL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RefURL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Body" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Method" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="S_BrowCookie" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="AllowRedirect" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="KeepAlive" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ContentType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="authorization" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OpenUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OpenUrlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OpenLongTimeUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TargetURL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RefURL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Body" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Method" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="S_BrowCookie" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="AllowRedirect" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="KeepAlive" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ContentType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="authorization" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OpenLongTimeUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OpenLongTimeUrlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WX_UserReplyLog_Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="JMemberSource" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sgm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ssubm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RequestPeriod" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="RequestTime" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="GameContent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WX_UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WX_SourceType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Jusrpar" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Jloadset" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="adminmode" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberGroupName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WX_UserReplyLog_CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WX_UserReplyLog_CreateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WX_UserReplyLog_MySendCreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jUserRow" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ReceiveTime" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="jusrpar" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="takeusers" type="tns:ArrayOfGuid" />
            <s:element minOccurs="0" maxOccurs="1" name="jloadset" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WX_UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WX_SourceType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WX_UserReplyLog_MySendCreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WX_UserReplyLog_MySendCreateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChongQingShiShiCaiCaculatePeriod">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestTime" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="RequestPeriod" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WX_UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WX_SourceType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="adminmode" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="JSpecMode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jusrpar" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="NoBlock" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChongQingShiShiCaiCaculatePeriodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChongQingShiShiCaiCaculatePeriodResult" type="tns:ChongQingShiShiCaiCaculatePeriodResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ChongQingShiShiCaiCaculatePeriodResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GameFullPeriod" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GameFullLocalPeriod" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="WXUserChangeLog_GetRemainder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserContactID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SourceType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jusrpar" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WXUserChangeLog_GetRemainderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WXUserChangeLog_GetRemainderResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBossReportSource">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SourceType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="QueryTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jusrpar" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBossReportSourceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBossReportSourceResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBounsConfig">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jusrpar" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBounsConfigResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBounsConfigResult" type="tns:ArrayOfWX_BounsConfig" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfWX_BounsConfig">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WX_BounsConfig" nillable="true" type="tns:WX_BounsConfig" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WX_BounsConfig">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="aspnet_UserID" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="RowNumber" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="StartBuyPeriod" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="EndBuyPeriod" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="StartBuyAverage" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="EndBuyAverage" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="FixNumber" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="FlowPercent" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="IfDivousPercent" nillable="true" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveBounsConfig">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jusrpar" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JDatas" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveBounsConfigResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveBounsConfigResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBasicRatio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jusrpar" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBasicRatioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBasicRatioResult" type="tns:ArrayOfGame_BasicRatio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGame_BasicRatio">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Game_BasicRatio" nillable="true" type="tns:Game_BasicRatio" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Game_BasicRatio">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="aspnet_UserID" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="GameType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BuyType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BuyValue" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MinBuy" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxBuy" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="BasicRatio" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderIndex" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="IncludeMin" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="BonusBuyValueCondition" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WX_SourceType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Enable" nillable="true" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveBasicRatio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jusrpar" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jDatas" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveBasicRatioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveBasicRatioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReminder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jusrpar" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SourceType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReminderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReminderResult" type="tns:ArrayOfReminderType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfReminderType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ReminderType" nillable="true" type="tns:ReminderType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ReminderType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="玩家" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="余" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="WX_UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WX_SourceType" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUserChangeLog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jusrpar" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jUserRow" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserChangeLogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserChangeLogResult" type="tns:ArrayOfUserChangeLogType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUserChangeLogType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UserChangeLogType" nillable="true" type="tns:UserChangeLogType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserChangeLogType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Remark" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RemarkType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ChangePoint" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ChangeTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="GamePeriod" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SourceType" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetHKSixLast16">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jusrpar" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHKSixLast16Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHKSixLast16Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemindQuery_GetReplyLog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WX_UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WX_SourceType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jusrpar" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemindQuery_GetReplyLogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RemindQuery_GetReplyLogResult" type="tns:ArrayOfRemindQuery_GetReplyLogClass" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRemindQuery_GetReplyLogClass">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RemindQuery_GetReplyLogClass" nillable="true" type="tns:RemindQuery_GetReplyLogClass" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RemindQuery_GetReplyLogClass">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="玩家" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="内容" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="时间" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="RemindQuery_GetChangePoint">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WX_UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WX_SourceType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jusrpar" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemindQuery_GetChangePointResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RemindQuery_GetChangePointResult" type="tns:ArrayOfRemindQuery_GetChangePointClass" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRemindQuery_GetChangePointClass">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RemindQuery_GetChangePointClass" nillable="true" type="tns:RemindQuery_GetChangePointClass" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RemindQuery_GetChangePointClass">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="分数变动" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="时间" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="期号" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="类型" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="下注" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetWebSendPicSetting">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserKey" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="Row_WX_SourceType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Row_WX_UserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWebSendPicSettingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWebSendPicSettingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveWebSendPicSetting">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jusrpar" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JWebSendPicSetting" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveWebSendPicSettingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveWebSendPicSettingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MessageRobootDo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RawContent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WX_SourceType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserNameOrRemark" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FromUserNameTEMPID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ToUserNameTEMPID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JavaMsgTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msgType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IsTalkGroup" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="MyUserTEMPID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Jusrpar" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MessageRobootDoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MessageRobootDoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadContacts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Jcontacts" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Jusrpar" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WX_SourceType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadContactsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadContactsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAndroidWeChatContacts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WX_Sourcetype" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Jusrpar" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAndroidWeChatContactsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAndroidWeChatContactsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSendJobs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WX_Sourcetype" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Jusrpar" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSendJobsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSendJobsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSendJobs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WX_Sourcetype" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Userid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Jobid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSendJobsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateSendJobsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShiShiCaiServerDealGameLogAndNotice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="JShiShiCaiMode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IgoreDataSettingSend" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="IgoreMemberGroup" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShiShiCaiServerDealGameLogAndNoticeResponse">
        <s:complexType />
      </s:element>
      <s:element name="DrawServerChongqingshishicai">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="JShiShiCaiMode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DrawServerChongqingshishicaiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DrawServerChongqingshishicaiResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendServerChongqingResultPic">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="JFilterSubmode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Mode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ToUserID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendServerChongqingResultPicResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendServerChongqingResultPicResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UserLogInSoapIn">
    <wsdl:part name="parameters" element="tns:UserLogIn" />
  </wsdl:message>
  <wsdl:message name="UserLogInSoapOut">
    <wsdl:part name="parameters" element="tns:UserLogInResponse" />
  </wsdl:message>
  <wsdl:message name="UserLogInUsrparSoapIn">
    <wsdl:part name="parameters" element="tns:UserLogInUsrpar" />
  </wsdl:message>
  <wsdl:message name="UserLogInUsrparSoapOut">
    <wsdl:part name="parameters" element="tns:UserLogInUsrparResponse" />
  </wsdl:message>
  <wsdl:message name="GetSettingSoapIn">
    <wsdl:part name="parameters" element="tns:GetSetting" />
  </wsdl:message>
  <wsdl:message name="GetSettingSoapOut">
    <wsdl:part name="parameters" element="tns:GetSettingResponse" />
  </wsdl:message>
  <wsdl:message name="SaveSettingSoapIn">
    <wsdl:part name="parameters" element="tns:SaveSetting" />
  </wsdl:message>
  <wsdl:message name="SaveSettingSoapOut">
    <wsdl:part name="parameters" element="tns:SaveSettingResponse" />
  </wsdl:message>
  <wsdl:message name="GetBossUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetBossUsers" />
  </wsdl:message>
  <wsdl:message name="GetBossUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetBossUsersResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserTokenSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserToken" />
  </wsdl:message>
  <wsdl:message name="GetUserTokenSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserTokenResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetTemplateRatiosSoapIn">
    <wsdl:part name="parameters" element="tns:GetTemplateRatios" />
  </wsdl:message>
  <wsdl:message name="GetTemplateRatiosSoapOut">
    <wsdl:part name="parameters" element="tns:GetTemplateRatiosResponse" />
  </wsdl:message>
  <wsdl:message name="GetTemplateBonusSoapIn">
    <wsdl:part name="parameters" element="tns:GetTemplateBonus" />
  </wsdl:message>
  <wsdl:message name="GetTemplateBonusSoapOut">
    <wsdl:part name="parameters" element="tns:GetTemplateBonusResponse" />
  </wsdl:message>
  <wsdl:message name="SetMembersSoapIn">
    <wsdl:part name="parameters" element="tns:SetMembers" />
  </wsdl:message>
  <wsdl:message name="SetMembersSoapOut">
    <wsdl:part name="parameters" element="tns:SetMembersResponse" />
  </wsdl:message>
  <wsdl:message name="OpenUrlSoapIn">
    <wsdl:part name="parameters" element="tns:OpenUrl" />
  </wsdl:message>
  <wsdl:message name="OpenUrlSoapOut">
    <wsdl:part name="parameters" element="tns:OpenUrlResponse" />
  </wsdl:message>
  <wsdl:message name="OpenLongTimeUrlSoapIn">
    <wsdl:part name="parameters" element="tns:OpenLongTimeUrl" />
  </wsdl:message>
  <wsdl:message name="OpenLongTimeUrlSoapOut">
    <wsdl:part name="parameters" element="tns:OpenLongTimeUrlResponse" />
  </wsdl:message>
  <wsdl:message name="WX_UserReplyLog_CreateSoapIn">
    <wsdl:part name="parameters" element="tns:WX_UserReplyLog_Create" />
  </wsdl:message>
  <wsdl:message name="WX_UserReplyLog_CreateSoapOut">
    <wsdl:part name="parameters" element="tns:WX_UserReplyLog_CreateResponse" />
  </wsdl:message>
  <wsdl:message name="WX_UserReplyLog_MySendCreateSoapIn">
    <wsdl:part name="parameters" element="tns:WX_UserReplyLog_MySendCreate" />
  </wsdl:message>
  <wsdl:message name="WX_UserReplyLog_MySendCreateSoapOut">
    <wsdl:part name="parameters" element="tns:WX_UserReplyLog_MySendCreateResponse" />
  </wsdl:message>
  <wsdl:message name="ChongQingShiShiCaiCaculatePeriodSoapIn">
    <wsdl:part name="parameters" element="tns:ChongQingShiShiCaiCaculatePeriod" />
  </wsdl:message>
  <wsdl:message name="ChongQingShiShiCaiCaculatePeriodSoapOut">
    <wsdl:part name="parameters" element="tns:ChongQingShiShiCaiCaculatePeriodResponse" />
  </wsdl:message>
  <wsdl:message name="WXUserChangeLog_GetRemainderSoapIn">
    <wsdl:part name="parameters" element="tns:WXUserChangeLog_GetRemainder" />
  </wsdl:message>
  <wsdl:message name="WXUserChangeLog_GetRemainderSoapOut">
    <wsdl:part name="parameters" element="tns:WXUserChangeLog_GetRemainderResponse" />
  </wsdl:message>
  <wsdl:message name="GetBossReportSourceSoapIn">
    <wsdl:part name="parameters" element="tns:GetBossReportSource" />
  </wsdl:message>
  <wsdl:message name="GetBossReportSourceSoapOut">
    <wsdl:part name="parameters" element="tns:GetBossReportSourceResponse" />
  </wsdl:message>
  <wsdl:message name="GetBounsConfigSoapIn">
    <wsdl:part name="parameters" element="tns:GetBounsConfig" />
  </wsdl:message>
  <wsdl:message name="GetBounsConfigSoapOut">
    <wsdl:part name="parameters" element="tns:GetBounsConfigResponse" />
  </wsdl:message>
  <wsdl:message name="SaveBounsConfigSoapIn">
    <wsdl:part name="parameters" element="tns:SaveBounsConfig" />
  </wsdl:message>
  <wsdl:message name="SaveBounsConfigSoapOut">
    <wsdl:part name="parameters" element="tns:SaveBounsConfigResponse" />
  </wsdl:message>
  <wsdl:message name="GetBasicRatioSoapIn">
    <wsdl:part name="parameters" element="tns:GetBasicRatio" />
  </wsdl:message>
  <wsdl:message name="GetBasicRatioSoapOut">
    <wsdl:part name="parameters" element="tns:GetBasicRatioResponse" />
  </wsdl:message>
  <wsdl:message name="SaveBasicRatioSoapIn">
    <wsdl:part name="parameters" element="tns:SaveBasicRatio" />
  </wsdl:message>
  <wsdl:message name="SaveBasicRatioSoapOut">
    <wsdl:part name="parameters" element="tns:SaveBasicRatioResponse" />
  </wsdl:message>
  <wsdl:message name="GetReminderSoapIn">
    <wsdl:part name="parameters" element="tns:GetReminder" />
  </wsdl:message>
  <wsdl:message name="GetReminderSoapOut">
    <wsdl:part name="parameters" element="tns:GetReminderResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserChangeLogSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserChangeLog" />
  </wsdl:message>
  <wsdl:message name="GetUserChangeLogSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserChangeLogResponse" />
  </wsdl:message>
  <wsdl:message name="GetHKSixLast16SoapIn">
    <wsdl:part name="parameters" element="tns:GetHKSixLast16" />
  </wsdl:message>
  <wsdl:message name="GetHKSixLast16SoapOut">
    <wsdl:part name="parameters" element="tns:GetHKSixLast16Response" />
  </wsdl:message>
  <wsdl:message name="RemindQuery_GetReplyLogSoapIn">
    <wsdl:part name="parameters" element="tns:RemindQuery_GetReplyLog" />
  </wsdl:message>
  <wsdl:message name="RemindQuery_GetReplyLogSoapOut">
    <wsdl:part name="parameters" element="tns:RemindQuery_GetReplyLogResponse" />
  </wsdl:message>
  <wsdl:message name="RemindQuery_GetChangePointSoapIn">
    <wsdl:part name="parameters" element="tns:RemindQuery_GetChangePoint" />
  </wsdl:message>
  <wsdl:message name="RemindQuery_GetChangePointSoapOut">
    <wsdl:part name="parameters" element="tns:RemindQuery_GetChangePointResponse" />
  </wsdl:message>
  <wsdl:message name="GetWebSendPicSettingSoapIn">
    <wsdl:part name="parameters" element="tns:GetWebSendPicSetting" />
  </wsdl:message>
  <wsdl:message name="GetWebSendPicSettingSoapOut">
    <wsdl:part name="parameters" element="tns:GetWebSendPicSettingResponse" />
  </wsdl:message>
  <wsdl:message name="SaveWebSendPicSettingSoapIn">
    <wsdl:part name="parameters" element="tns:SaveWebSendPicSetting" />
  </wsdl:message>
  <wsdl:message name="SaveWebSendPicSettingSoapOut">
    <wsdl:part name="parameters" element="tns:SaveWebSendPicSettingResponse" />
  </wsdl:message>
  <wsdl:message name="MessageRobootDoSoapIn">
    <wsdl:part name="parameters" element="tns:MessageRobootDo" />
  </wsdl:message>
  <wsdl:message name="MessageRobootDoSoapOut">
    <wsdl:part name="parameters" element="tns:MessageRobootDoResponse" />
  </wsdl:message>
  <wsdl:message name="UploadContactsSoapIn">
    <wsdl:part name="parameters" element="tns:UploadContacts" />
  </wsdl:message>
  <wsdl:message name="UploadContactsSoapOut">
    <wsdl:part name="parameters" element="tns:UploadContactsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAndroidWeChatContactsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAndroidWeChatContacts" />
  </wsdl:message>
  <wsdl:message name="GetAndroidWeChatContactsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAndroidWeChatContactsResponse" />
  </wsdl:message>
  <wsdl:message name="GetSendJobsSoapIn">
    <wsdl:part name="parameters" element="tns:GetSendJobs" />
  </wsdl:message>
  <wsdl:message name="GetSendJobsSoapOut">
    <wsdl:part name="parameters" element="tns:GetSendJobsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSendJobsSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateSendJobs" />
  </wsdl:message>
  <wsdl:message name="UpdateSendJobsSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateSendJobsResponse" />
  </wsdl:message>
  <wsdl:message name="ShiShiCaiServerDealGameLogAndNoticeSoapIn">
    <wsdl:part name="parameters" element="tns:ShiShiCaiServerDealGameLogAndNotice" />
  </wsdl:message>
  <wsdl:message name="ShiShiCaiServerDealGameLogAndNoticeSoapOut">
    <wsdl:part name="parameters" element="tns:ShiShiCaiServerDealGameLogAndNoticeResponse" />
  </wsdl:message>
  <wsdl:message name="DrawServerChongqingshishicaiSoapIn">
    <wsdl:part name="parameters" element="tns:DrawServerChongqingshishicai" />
  </wsdl:message>
  <wsdl:message name="DrawServerChongqingshishicaiSoapOut">
    <wsdl:part name="parameters" element="tns:DrawServerChongqingshishicaiResponse" />
  </wsdl:message>
  <wsdl:message name="SendServerChongqingResultPicSoapIn">
    <wsdl:part name="parameters" element="tns:SendServerChongqingResultPic" />
  </wsdl:message>
  <wsdl:message name="SendServerChongqingResultPicSoapOut">
    <wsdl:part name="parameters" element="tns:SendServerChongqingResultPicResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="UserLogIn">
      <wsdl:input message="tns:UserLogInSoapIn" />
      <wsdl:output message="tns:UserLogInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserLogInUsrpar">
      <wsdl:input message="tns:UserLogInUsrparSoapIn" />
      <wsdl:output message="tns:UserLogInUsrparSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSetting">
      <wsdl:input message="tns:GetSettingSoapIn" />
      <wsdl:output message="tns:GetSettingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveSetting">
      <wsdl:input message="tns:SaveSettingSoapIn" />
      <wsdl:output message="tns:SaveSettingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBossUsers">
      <wsdl:input message="tns:GetBossUsersSoapIn" />
      <wsdl:output message="tns:GetBossUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserToken">
      <wsdl:input message="tns:GetUserTokenSoapIn" />
      <wsdl:output message="tns:GetUserTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordSoapIn" />
      <wsdl:output message="tns:ChangePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:input message="tns:GetUserInfoSoapIn" />
      <wsdl:output message="tns:GetUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTemplateRatios">
      <wsdl:input message="tns:GetTemplateRatiosSoapIn" />
      <wsdl:output message="tns:GetTemplateRatiosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTemplateBonus">
      <wsdl:input message="tns:GetTemplateBonusSoapIn" />
      <wsdl:output message="tns:GetTemplateBonusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetMembers">
      <wsdl:input message="tns:SetMembersSoapIn" />
      <wsdl:output message="tns:SetMembersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OpenUrl">
      <wsdl:input message="tns:OpenUrlSoapIn" />
      <wsdl:output message="tns:OpenUrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OpenLongTimeUrl">
      <wsdl:input message="tns:OpenLongTimeUrlSoapIn" />
      <wsdl:output message="tns:OpenLongTimeUrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WX_UserReplyLog_Create">
      <wsdl:input message="tns:WX_UserReplyLog_CreateSoapIn" />
      <wsdl:output message="tns:WX_UserReplyLog_CreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WX_UserReplyLog_MySendCreate">
      <wsdl:input message="tns:WX_UserReplyLog_MySendCreateSoapIn" />
      <wsdl:output message="tns:WX_UserReplyLog_MySendCreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChongQingShiShiCaiCaculatePeriod">
      <wsdl:input message="tns:ChongQingShiShiCaiCaculatePeriodSoapIn" />
      <wsdl:output message="tns:ChongQingShiShiCaiCaculatePeriodSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WXUserChangeLog_GetRemainder">
      <wsdl:input message="tns:WXUserChangeLog_GetRemainderSoapIn" />
      <wsdl:output message="tns:WXUserChangeLog_GetRemainderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBossReportSource">
      <wsdl:input message="tns:GetBossReportSourceSoapIn" />
      <wsdl:output message="tns:GetBossReportSourceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBounsConfig">
      <wsdl:input message="tns:GetBounsConfigSoapIn" />
      <wsdl:output message="tns:GetBounsConfigSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveBounsConfig">
      <wsdl:input message="tns:SaveBounsConfigSoapIn" />
      <wsdl:output message="tns:SaveBounsConfigSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBasicRatio">
      <wsdl:input message="tns:GetBasicRatioSoapIn" />
      <wsdl:output message="tns:GetBasicRatioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveBasicRatio">
      <wsdl:input message="tns:SaveBasicRatioSoapIn" />
      <wsdl:output message="tns:SaveBasicRatioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReminder">
      <wsdl:input message="tns:GetReminderSoapIn" />
      <wsdl:output message="tns:GetReminderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserChangeLog">
      <wsdl:input message="tns:GetUserChangeLogSoapIn" />
      <wsdl:output message="tns:GetUserChangeLogSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHKSixLast16">
      <wsdl:input message="tns:GetHKSixLast16SoapIn" />
      <wsdl:output message="tns:GetHKSixLast16SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemindQuery_GetReplyLog">
      <wsdl:input message="tns:RemindQuery_GetReplyLogSoapIn" />
      <wsdl:output message="tns:RemindQuery_GetReplyLogSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemindQuery_GetChangePoint">
      <wsdl:input message="tns:RemindQuery_GetChangePointSoapIn" />
      <wsdl:output message="tns:RemindQuery_GetChangePointSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWebSendPicSetting">
      <wsdl:input message="tns:GetWebSendPicSettingSoapIn" />
      <wsdl:output message="tns:GetWebSendPicSettingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveWebSendPicSetting">
      <wsdl:input message="tns:SaveWebSendPicSettingSoapIn" />
      <wsdl:output message="tns:SaveWebSendPicSettingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MessageRobootDo">
      <wsdl:input message="tns:MessageRobootDoSoapIn" />
      <wsdl:output message="tns:MessageRobootDoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadContacts">
      <wsdl:input message="tns:UploadContactsSoapIn" />
      <wsdl:output message="tns:UploadContactsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAndroidWeChatContacts">
      <wsdl:input message="tns:GetAndroidWeChatContactsSoapIn" />
      <wsdl:output message="tns:GetAndroidWeChatContactsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSendJobs">
      <wsdl:input message="tns:GetSendJobsSoapIn" />
      <wsdl:output message="tns:GetSendJobsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSendJobs">
      <wsdl:input message="tns:UpdateSendJobsSoapIn" />
      <wsdl:output message="tns:UpdateSendJobsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShiShiCaiServerDealGameLogAndNotice">
      <wsdl:input message="tns:ShiShiCaiServerDealGameLogAndNoticeSoapIn" />
      <wsdl:output message="tns:ShiShiCaiServerDealGameLogAndNoticeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DrawServerChongqingshishicai">
      <wsdl:input message="tns:DrawServerChongqingshishicaiSoapIn" />
      <wsdl:output message="tns:DrawServerChongqingshishicaiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendServerChongqingResultPic">
      <wsdl:input message="tns:SendServerChongqingResultPicSoapIn" />
      <wsdl:output message="tns:SendServerChongqingResultPicSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserLogIn">
      <soap:operation soapAction="http://13828081978.zicp.vip/UserLogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogInUsrpar">
      <soap:operation soapAction="http://13828081978.zicp.vip/UserLogInUsrpar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSetting">
      <soap:operation soapAction="http://13828081978.zicp.vip/GetSetting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSetting">
      <soap:operation soapAction="http://13828081978.zicp.vip/SaveSetting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBossUsers">
      <soap:operation soapAction="http://13828081978.zicp.vip/GetBossUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserToken">
      <soap:operation soapAction="http://13828081978.zicp.vip/GetUserToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://13828081978.zicp.vip/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="http://13828081978.zicp.vip/GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTemplateRatios">
      <soap:operation soapAction="http://13828081978.zicp.vip/GetTemplateRatios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTemplateBonus">
      <soap:operation soapAction="http://13828081978.zicp.vip/GetTemplateBonus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMembers">
      <soap:operation soapAction="http://13828081978.zicp.vip/SetMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenUrl">
      <soap:operation soapAction="http://13828081978.zicp.vip/OpenUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenLongTimeUrl">
      <soap:operation soapAction="http://13828081978.zicp.vip/OpenLongTimeUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WX_UserReplyLog_Create">
      <soap:operation soapAction="http://13828081978.zicp.vip/WX_UserReplyLog_Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WX_UserReplyLog_MySendCreate">
      <soap:operation soapAction="http://13828081978.zicp.vip/WX_UserReplyLog_MySendCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChongQingShiShiCaiCaculatePeriod">
      <soap:operation soapAction="http://13828081978.zicp.vip/ChongQingShiShiCaiCaculatePeriod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WXUserChangeLog_GetRemainder">
      <soap:operation soapAction="http://13828081978.zicp.vip/WXUserChangeLog_GetRemainder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBossReportSource">
      <soap:operation soapAction="http://13828081978.zicp.vip/GetBossReportSource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBounsConfig">
      <soap:operation soapAction="http://13828081978.zicp.vip/GetBounsConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveBounsConfig">
      <soap:operation soapAction="http://13828081978.zicp.vip/SaveBounsConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBasicRatio">
      <soap:operation soapAction="http://13828081978.zicp.vip/GetBasicRatio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveBasicRatio">
      <soap:operation soapAction="http://13828081978.zicp.vip/SaveBasicRatio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReminder">
      <soap:operation soapAction="http://13828081978.zicp.vip/GetReminder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserChangeLog">
      <soap:operation soapAction="http://13828081978.zicp.vip/GetUserChangeLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHKSixLast16">
      <soap:operation soapAction="http://13828081978.zicp.vip/GetHKSixLast16" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemindQuery_GetReplyLog">
      <soap:operation soapAction="http://13828081978.zicp.vip/RemindQuery_GetReplyLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemindQuery_GetChangePoint">
      <soap:operation soapAction="http://13828081978.zicp.vip/RemindQuery_GetChangePoint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWebSendPicSetting">
      <soap:operation soapAction="http://13828081978.zicp.vip/GetWebSendPicSetting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveWebSendPicSetting">
      <soap:operation soapAction="http://13828081978.zicp.vip/SaveWebSendPicSetting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MessageRobootDo">
      <soap:operation soapAction="http://13828081978.zicp.vip/MessageRobootDo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadContacts">
      <soap:operation soapAction="http://13828081978.zicp.vip/UploadContacts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAndroidWeChatContacts">
      <soap:operation soapAction="http://13828081978.zicp.vip/GetAndroidWeChatContacts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSendJobs">
      <soap:operation soapAction="http://13828081978.zicp.vip/GetSendJobs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSendJobs">
      <soap:operation soapAction="http://13828081978.zicp.vip/UpdateSendJobs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShiShiCaiServerDealGameLogAndNotice">
      <soap:operation soapAction="http://13828081978.zicp.vip/ShiShiCaiServerDealGameLogAndNotice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DrawServerChongqingshishicai">
      <soap:operation soapAction="http://13828081978.zicp.vip/DrawServerChongqingshishicai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendServerChongqingResultPic">
      <soap:operation soapAction="http://13828081978.zicp.vip/SendServerChongqingResultPic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserLogIn">
      <soap12:operation soapAction="http://13828081978.zicp.vip/UserLogIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogInUsrpar">
      <soap12:operation soapAction="http://13828081978.zicp.vip/UserLogInUsrpar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSetting">
      <soap12:operation soapAction="http://13828081978.zicp.vip/GetSetting" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSetting">
      <soap12:operation soapAction="http://13828081978.zicp.vip/SaveSetting" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBossUsers">
      <soap12:operation soapAction="http://13828081978.zicp.vip/GetBossUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserToken">
      <soap12:operation soapAction="http://13828081978.zicp.vip/GetUserToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://13828081978.zicp.vip/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap12:operation soapAction="http://13828081978.zicp.vip/GetUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTemplateRatios">
      <soap12:operation soapAction="http://13828081978.zicp.vip/GetTemplateRatios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTemplateBonus">
      <soap12:operation soapAction="http://13828081978.zicp.vip/GetTemplateBonus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMembers">
      <soap12:operation soapAction="http://13828081978.zicp.vip/SetMembers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenUrl">
      <soap12:operation soapAction="http://13828081978.zicp.vip/OpenUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenLongTimeUrl">
      <soap12:operation soapAction="http://13828081978.zicp.vip/OpenLongTimeUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WX_UserReplyLog_Create">
      <soap12:operation soapAction="http://13828081978.zicp.vip/WX_UserReplyLog_Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WX_UserReplyLog_MySendCreate">
      <soap12:operation soapAction="http://13828081978.zicp.vip/WX_UserReplyLog_MySendCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChongQingShiShiCaiCaculatePeriod">
      <soap12:operation soapAction="http://13828081978.zicp.vip/ChongQingShiShiCaiCaculatePeriod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WXUserChangeLog_GetRemainder">
      <soap12:operation soapAction="http://13828081978.zicp.vip/WXUserChangeLog_GetRemainder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBossReportSource">
      <soap12:operation soapAction="http://13828081978.zicp.vip/GetBossReportSource" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBounsConfig">
      <soap12:operation soapAction="http://13828081978.zicp.vip/GetBounsConfig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveBounsConfig">
      <soap12:operation soapAction="http://13828081978.zicp.vip/SaveBounsConfig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBasicRatio">
      <soap12:operation soapAction="http://13828081978.zicp.vip/GetBasicRatio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveBasicRatio">
      <soap12:operation soapAction="http://13828081978.zicp.vip/SaveBasicRatio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReminder">
      <soap12:operation soapAction="http://13828081978.zicp.vip/GetReminder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserChangeLog">
      <soap12:operation soapAction="http://13828081978.zicp.vip/GetUserChangeLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHKSixLast16">
      <soap12:operation soapAction="http://13828081978.zicp.vip/GetHKSixLast16" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemindQuery_GetReplyLog">
      <soap12:operation soapAction="http://13828081978.zicp.vip/RemindQuery_GetReplyLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemindQuery_GetChangePoint">
      <soap12:operation soapAction="http://13828081978.zicp.vip/RemindQuery_GetChangePoint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWebSendPicSetting">
      <soap12:operation soapAction="http://13828081978.zicp.vip/GetWebSendPicSetting" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveWebSendPicSetting">
      <soap12:operation soapAction="http://13828081978.zicp.vip/SaveWebSendPicSetting" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MessageRobootDo">
      <soap12:operation soapAction="http://13828081978.zicp.vip/MessageRobootDo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadContacts">
      <soap12:operation soapAction="http://13828081978.zicp.vip/UploadContacts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAndroidWeChatContacts">
      <soap12:operation soapAction="http://13828081978.zicp.vip/GetAndroidWeChatContacts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSendJobs">
      <soap12:operation soapAction="http://13828081978.zicp.vip/GetSendJobs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSendJobs">
      <soap12:operation soapAction="http://13828081978.zicp.vip/UpdateSendJobs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShiShiCaiServerDealGameLogAndNotice">
      <soap12:operation soapAction="http://13828081978.zicp.vip/ShiShiCaiServerDealGameLogAndNotice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DrawServerChongqingshishicai">
      <soap12:operation soapAction="http://13828081978.zicp.vip/DrawServerChongqingshishicai" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendServerChongqingResultPic">
      <soap12:operation soapAction="http://13828081978.zicp.vip/SendServerChongqingResultPic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://13828081978.qicp.vip:9133/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://13828081978.qicp.vip:9133/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>