WeixinRoboot/Web References/RobootWeb/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://13828081978.zicp.vip/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://13828081978.zicp.vip/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://13828081978.zicp.vip/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="UserLogIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserLogInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserLogInResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSetting">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="saspnetUserid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSettingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSettingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveSetting">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jaspnet_UsersNewGameResultSend" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveSettingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveSettingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBossUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bossaspnetuserid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBossUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBossUsersResult" type="tns:ArrayOfGuid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGuid">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="guid" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUserToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserTokenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userid" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="NewPassord" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTemplateRatios">
        <s:complexType />
      </s:element>
      <s:element name="GetTemplateRatiosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTemplateRatiosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTemplateBonus">
        <s:complexType />
      </s:element>
      <s:element name="GetTemplateBonusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTemplateBonusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMembers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Members" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="UserKey" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="_GameMode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMembersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetMembersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OpenUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TargetURL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RefURL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Body" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Method" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="S_BrowCookie" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="AllowRedirect" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="KeepAlive" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ContentType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="authorization" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OpenUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OpenUrlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OpenLongTimeUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TargetURL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RefURL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Body" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Method" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="S_BrowCookie" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="AllowRedirect" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="KeepAlive" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ContentType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="authorization" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OpenLongTimeUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OpenLongTimeUrlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UserLogInSoapIn">
    <wsdl:part name="parameters" element="tns:UserLogIn" />
  </wsdl:message>
  <wsdl:message name="UserLogInSoapOut">
    <wsdl:part name="parameters" element="tns:UserLogInResponse" />
  </wsdl:message>
  <wsdl:message name="GetSettingSoapIn">
    <wsdl:part name="parameters" element="tns:GetSetting" />
  </wsdl:message>
  <wsdl:message name="GetSettingSoapOut">
    <wsdl:part name="parameters" element="tns:GetSettingResponse" />
  </wsdl:message>
  <wsdl:message name="SaveSettingSoapIn">
    <wsdl:part name="parameters" element="tns:SaveSetting" />
  </wsdl:message>
  <wsdl:message name="SaveSettingSoapOut">
    <wsdl:part name="parameters" element="tns:SaveSettingResponse" />
  </wsdl:message>
  <wsdl:message name="GetBossUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetBossUsers" />
  </wsdl:message>
  <wsdl:message name="GetBossUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetBossUsersResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserTokenSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserToken" />
  </wsdl:message>
  <wsdl:message name="GetUserTokenSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserTokenResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetTemplateRatiosSoapIn">
    <wsdl:part name="parameters" element="tns:GetTemplateRatios" />
  </wsdl:message>
  <wsdl:message name="GetTemplateRatiosSoapOut">
    <wsdl:part name="parameters" element="tns:GetTemplateRatiosResponse" />
  </wsdl:message>
  <wsdl:message name="GetTemplateBonusSoapIn">
    <wsdl:part name="parameters" element="tns:GetTemplateBonus" />
  </wsdl:message>
  <wsdl:message name="GetTemplateBonusSoapOut">
    <wsdl:part name="parameters" element="tns:GetTemplateBonusResponse" />
  </wsdl:message>
  <wsdl:message name="SetMembersSoapIn">
    <wsdl:part name="parameters" element="tns:SetMembers" />
  </wsdl:message>
  <wsdl:message name="SetMembersSoapOut">
    <wsdl:part name="parameters" element="tns:SetMembersResponse" />
  </wsdl:message>
  <wsdl:message name="OpenUrlSoapIn">
    <wsdl:part name="parameters" element="tns:OpenUrl" />
  </wsdl:message>
  <wsdl:message name="OpenUrlSoapOut">
    <wsdl:part name="parameters" element="tns:OpenUrlResponse" />
  </wsdl:message>
  <wsdl:message name="OpenLongTimeUrlSoapIn">
    <wsdl:part name="parameters" element="tns:OpenLongTimeUrl" />
  </wsdl:message>
  <wsdl:message name="OpenLongTimeUrlSoapOut">
    <wsdl:part name="parameters" element="tns:OpenLongTimeUrlResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="UserLogIn">
      <wsdl:input message="tns:UserLogInSoapIn" />
      <wsdl:output message="tns:UserLogInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSetting">
      <wsdl:input message="tns:GetSettingSoapIn" />
      <wsdl:output message="tns:GetSettingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveSetting">
      <wsdl:input message="tns:SaveSettingSoapIn" />
      <wsdl:output message="tns:SaveSettingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBossUsers">
      <wsdl:input message="tns:GetBossUsersSoapIn" />
      <wsdl:output message="tns:GetBossUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserToken">
      <wsdl:input message="tns:GetUserTokenSoapIn" />
      <wsdl:output message="tns:GetUserTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordSoapIn" />
      <wsdl:output message="tns:ChangePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:input message="tns:GetUserInfoSoapIn" />
      <wsdl:output message="tns:GetUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTemplateRatios">
      <wsdl:input message="tns:GetTemplateRatiosSoapIn" />
      <wsdl:output message="tns:GetTemplateRatiosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTemplateBonus">
      <wsdl:input message="tns:GetTemplateBonusSoapIn" />
      <wsdl:output message="tns:GetTemplateBonusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetMembers">
      <wsdl:input message="tns:SetMembersSoapIn" />
      <wsdl:output message="tns:SetMembersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OpenUrl">
      <wsdl:input message="tns:OpenUrlSoapIn" />
      <wsdl:output message="tns:OpenUrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OpenLongTimeUrl">
      <wsdl:input message="tns:OpenLongTimeUrlSoapIn" />
      <wsdl:output message="tns:OpenLongTimeUrlSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserLogIn">
      <soap:operation soapAction="http://13828081978.zicp.vip/UserLogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSetting">
      <soap:operation soapAction="http://13828081978.zicp.vip/GetSetting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSetting">
      <soap:operation soapAction="http://13828081978.zicp.vip/SaveSetting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBossUsers">
      <soap:operation soapAction="http://13828081978.zicp.vip/GetBossUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserToken">
      <soap:operation soapAction="http://13828081978.zicp.vip/GetUserToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://13828081978.zicp.vip/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="http://13828081978.zicp.vip/GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTemplateRatios">
      <soap:operation soapAction="http://13828081978.zicp.vip/GetTemplateRatios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTemplateBonus">
      <soap:operation soapAction="http://13828081978.zicp.vip/GetTemplateBonus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMembers">
      <soap:operation soapAction="http://13828081978.zicp.vip/SetMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenUrl">
      <soap:operation soapAction="http://13828081978.zicp.vip/OpenUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenLongTimeUrl">
      <soap:operation soapAction="http://13828081978.zicp.vip/OpenLongTimeUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserLogIn">
      <soap12:operation soapAction="http://13828081978.zicp.vip/UserLogIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSetting">
      <soap12:operation soapAction="http://13828081978.zicp.vip/GetSetting" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSetting">
      <soap12:operation soapAction="http://13828081978.zicp.vip/SaveSetting" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBossUsers">
      <soap12:operation soapAction="http://13828081978.zicp.vip/GetBossUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserToken">
      <soap12:operation soapAction="http://13828081978.zicp.vip/GetUserToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://13828081978.zicp.vip/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap12:operation soapAction="http://13828081978.zicp.vip/GetUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTemplateRatios">
      <soap12:operation soapAction="http://13828081978.zicp.vip/GetTemplateRatios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTemplateBonus">
      <soap12:operation soapAction="http://13828081978.zicp.vip/GetTemplateBonus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMembers">
      <soap12:operation soapAction="http://13828081978.zicp.vip/SetMembers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenUrl">
      <soap12:operation soapAction="http://13828081978.zicp.vip/OpenUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenLongTimeUrl">
      <soap12:operation soapAction="http://13828081978.zicp.vip/OpenLongTimeUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://103.117.138.220/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://103.117.138.220/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>